.standing
  display: flex
  justify-content: space-between
  padding: 12px 20px
  &:not(:last-of-type)
    border-bottom: 1px solid white

  .position
    margin-right: 25px

  .driver-code
    margin-right: 20px

  .driver-name
    flex-grow: 1
		

